.pig{
    margin-top: 50px;
    margin-bottom: 30px;
}
.search-bar{
    width: 300px;
}
.title {
    width: 300px;
    margin-top: 20px;
    height: 44;
    font-family: NanumSquareR;
    font-size: 44.5px;
    line-height: 1.67;
    text-align: center;
    color: #35465d;

}