.input-group-text{
	font-family: NanumSquareR;
	
}

.search-bar{
	width: 300px;
	
		
}
.aaa{
    margin-top: 15px;
    margin-bottom: 20px;
}
.abc{
    border-right-width: 1px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.bcd{
    margin-right: 10px;
}
.aaa{
    margin-top: 30px;
}
.a{
    margin-right: 10px;
}
.b{
    margin-right: 10px;
}
.c{
    margin-right: 10px;
}
.d{
    margin-right: 10px;
}
.e{
    margin-right: 10px;
}
.rese{
    margin-right: 10px;
}